destination: build/apidocs
templateConfig: apigen/theme-woocommerce/config.neon
extensions: [php]
source:
    - source/woocommerce/woocommerce.php
    - source/woocommerce/includes
exclude:
    - source/woocommerce/includes/libraries/
    - source/woocommerce/includes/api/legacy/
    - source/woocommerce/api/legacy/
    - source/woocommerce/libraries/
charset: [UTF-8]
main: WC
title: WooCommerce Code Reference
baseUrl: https://docs.woocommerce.com/wc-apidocs/
templateTheme: default
php: false
sourceCode: true
tree: true
deprecated: true
todo: true
download: false
