{% extends 'base.html.twig' %}

{% block content %}
<article class="phpdocumentor-element">
    <h2 class="phpdocumentor-content__title">Action and Filter Hook Reference</h2>
    <p>This is simply a list of action and filter hooks found within WooCommerce files. View the source to see supported params and usage.</p>
    <!-- hooks -->
</article>
{% endblock %}
